---
import UnderlinedText from "@components/utils/UnderlinedText.astro";
---

<section
  class="w-full flex-col gap-4 dark:text-light h-[75vh] text-center pt-24"
>
  <h2 class="mt-16 mx-auto">ABOUT ME</h2>
  <p class="max-w-prose mt-6 mx-auto dark:text-light text-lg leading-8">
    <span>I'm a</span>
    <UnderlinedText text="software engineer" />
    <span
      >based in Toronto, Canada. I'm passionate about building software that
      leverages the latest technologies to solve real-world problems. My
      expertise lies in building web applications using
    </span>
    <UnderlinedText text="React" />
    and
    <UnderlinedText text="Node.js" />
    <span> and my language of choice is</span>
    <UnderlinedText text="TypeScript" />
    <span
      >. I'm a lifelong learner and I'm always looking for opportunities to
      improve my skills and learn new technologies.
    </span>
  </p>
</section>
