---
import { info } from "@data";
import { Icon } from "astro-icon";
---

<div class="grid grid-cols-4 gap-4 w-fit">
  <a aria-label="Social Media" href={info.socialMedia.twitter} target="_blank">
    <Icon
      pack="mdi"
      name="twitter"
      size="40"
      class="dark:text-light link hover:scale-110 transition-color transition-transform duration-200"
    />
  </a>
  <a aria-label="GitHub" href={info.socialMedia.github} target="_blank">
    <Icon
      pack="mdi"
      name="github"
      size="40"
      class="dark:text-light link hover:scale-110 transition-color transition-transform duration-200"
    />
  </a>
  <a aria-label="LinkedIn" href={info.socialMedia.linkedin} target="_blank">
    <Icon
      pack="mdi"
      name="linkedin"
      size="40"
      class="dark:text-light link hover:scale-110 transition-color transition-transform duration-200"
    />
  </a>
  <a
    aria-label="Email"
    href={"mailto:" + info.socialMedia.email}
    target="_blank"
  >
    <Icon
      pack="mdi"
      name="email"
      size="40"
      class="dark:text-light link hover:scale-110 transition-color transition-transform duration-200"
    />
  </a>
</div>
