---
import { info } from "@data";
import Contacts from "./Contacts.astro";
---

<footer class="container my-8 sm:mb-4">
  <p class="text-neutral-500">
    This website is served to you blazingly fast with next-gen island
    architecture and zero JavaScript.
  </p>
  <div class="flex sm:flex-row flex-col justify-between items-center">
    <p class="dark:text-light my-8">
      Developed by <strong>Aiden Kwong</strong>
    </p>
    <Contacts />
  </div>
</footer>
