---
import { info } from "@data";
import { Icon } from "astro-icon";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import IconWithText from "@components/utils/IconWithText.astro";

const Projects = info.projects.map((project) => project);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Projects"}
      description={"All projects are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>
  <body>
    <Layout>
      <div class="flex flex-col gap-16 dark:text-light">
        <h2 class="dark:text-light">Project</h2>
        <div class="flex items-center">
          <div class="dark:text-light text-lg flex gap-1 flex-wrap">
            {"Please check out more on my GitHub profile: "}
            <span>
              <a
                class="dark:text-light link transition-all duration-200"
                href={info.socialMedia.github}
              >
                <IconWithText
                  pack="mdi"
                  name="github"
                  text="github.com/AidenKwong"
                  size={28}
                />
              </a></span
            >

            .
          </div>
        </div>
        <div>
          <iframe
            src="https://github-readme-stats.vercel.app/api/top-langs/?username=aidenkwong&hide=jupyter%20notebook&layout=compact&langs_count=10&theme=dark"
            width="349"
            height="212.85"
            class="rounded-lg shadow-lg shadow-sky-500 dark:shadow-emerald-400 mx-auto hidden dark:block"
          ></iframe>
          <iframe
            src="https://github-readme-stats.vercel.app/api/top-langs/?username=aidenkwong&hide=jupyter%20notebook&layout=compact&langs_count=10"
            width="349"
            height="212.85"
            class="rounded-lg shadow-lg shadow-sky-500 dark:shadow-emerald-400 mx-auto block dark:hidden"
          ></iframe>
        </div>

        <ProjectsWrapper projects={Projects} />
      </div>
    </Layout>
  </body>
</html>
